@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #0d5389;
    --color-header: #297459;
    --font-color-primary: #141414;
    --font-color-white: #fff;
    --font-color-light: #545554;
    --font-fff: #fff;
    --pad-background: #fff;
    --background: #fafafa;
    --num: #239e92;
    --pad-box-shadow: 1.5px 1.5px 2px 1.3px #31313135;
}
.retro-theme-variables{
    --color-primary: #808000;
    --color-header: #008080;
    --font-color-primary: #6C3F18;
    --font-color-light: #444444b2;
    --pad-background: #FFFDD0;
    --num: #CC5500;
    --pad-box-shadow: 1.5px 1.5px 2px 1.3px #20170fa1;
}
.classic{
    --color-primary: #2F4F4F;
    --color-header: #228B22;
    --font-color-primary: #ffffff;
    --font-color-light: #21282c;
    --pad-background: #fefdec;
    --num: #076c67;
    --pad-box-shadow: 1.5px 1.5px 2px 1.3px rgba(0, 0, 0, 0.5);
}
.dark-theme-variables{
    --color-primary: #1a1a1a;
    --color-header: #1a887d;
    --font-color-primary: #ffffff;
    --font-color-light: #d9d9d9;
    --pad-background: #2e2e2e;
    --pad-box-shadow: 1.5px 1.5px 2px 1.3px rgba(0, 0, 50, 0.5);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}
.topNav{
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: var(--color-primary);
    line-height: 50px;
    align-items: center;
    display: flex;
}
.topNav .adminProfile{
    position: absolute;
    right: 3rem;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 200;
}
.adminProfile .adminImage{
    margin-left: 20px;
    display: flex;
}
.adminProfile .adminName{
    font-size: 14px;
}
.topNav .date{
    display: flex;
}
.date p{
    font-size: 16px;
    font-weight: 600;
    color:#ffffff;
}
.current-time{
    padding: 5px 20px;
    position: relative;
}
.current-date{
    padding: 5px 20px;
    position: relative;
}
/*================CONTAINER==============*/
.container{
    position: absolute;
    top: 3rem;
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.sideNav{
    height: 92vh;
    width: 100px;
    background-color: #ffffff;
}
.sideNav a{
    display: flex;
    color: var(--color-primary);
    margin: 5px 0 0 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 1s ease;
}
.out {
    display: inline-block; 
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.sideNav a.active{
    color: var(--color-header);
    margin-left: 0;
    background-color: #0d85890b;
    
}
.sideNav a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: #0d8964;
    
}
.sideNav a.active span{
    color: #13627e;
    margin-left: calc(1rem - 3px);
    
}

.sideNav a:hover span{
    color: #126731;
}
.timer{
    margin-left: 20px;
    margin-top: 20px;
}
.timer .token_Num{
    text-align: center;
    padding: 10px;
}
.timer .token_Num h3{
    padding: 5px;
    text-transform: uppercase;
}
.timer .pad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27rem;
    height: 33rem;
    background-color: var(--pad-background);
    box-shadow: var(--pad-box-shadow)
}
.timer .pad p{
    font-size: 5rem;
    color: var(--font-color-primary);
}
#time-label{
    position: relative;
    top: 30%;
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color-light);
}
/*====================================*/
.right{
    width: 33%;
    padding: 20px;
}
.right .token_Num{
    box-shadow: var(--pad-box-shadow);
    text-align: center;
    height: 13.5rem;
    padding: 10px;
    border-radius: 2px;
}
.right .token_Num h3{
    padding: 5px;
    background-color: var(--color-header);
    color: white;
    font-weight: 500;
}
.right .token_Num p{
    font-size: 40px;
    font-weight: 600;
    color: #1f646d;
    background-color: #d7d7d74d;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns1{
    margin-top: 10px;
    display: flex;
    gap: 0.6rem;
}
.btns2{
    margin-top: 1rem;
    display: block;
}
.btns1 button{
    width: 50%;
    padding: 30px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    background-color: #0f689b;
    color: white;
    box-shadow: var(--pad-box-shadow);
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    border: 1px solid #0f689b;
}
.btns2 button{
    width: 100%;
    padding: 30px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    background-color: #0f689b;
    color: white;
    box-shadow: 1px 2px 2px #00121872;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    border: 1px solid #0f689b;
}
.btns2 button{
    margin-bottom: 10px;
}
.btns1 button:hover{
    box-shadow: none;
    background-color: #e3e3e38b;
    color: #11376a;
}
.btns2 button:hover{
    box-shadow: none;
    background-color: #e3e3e38b;
    color: #11376a;
}
#end{
    background-color: #327941;
}
#end:hover{
    background-color: #e3e3e38b;
}
.in-que {
    margin-top: 1rem;
    box-shadow: 1px 1px 1px 2px #021b2337;
    text-align: center;
    width: 450px;
    padding: 10px;
    border-radius: 2px;
}
.in-que h3{
    font-size: 15px;
    color:#11376a;
}
.col-container {
    display: grid;
    grid-template-columns: 4rem 13rem 5.5rem auto;
    gap: 1px; 
}
.col {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2px;
    margin-top: 10px;
}

.col ul {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    padding: 0; 
    margin: 0; 
}

.col ul li {
    height: 65px;
    background-color: #0d538908;
    font-weight: 500;
    display: flex;
    align-items: center; 
    justify-content: center; 
    list-style: none;
    padding: 2px;
    font-size: 14px;
}
.num ul li{
    font-size: 18px;
    font-weight: 600;
}

.col ul li button{
    width: 100%;
    height: 100%;
    background-color: #12833cc4;
    box-shadow: 1px 0.5px 1px 1.4px #021b2337;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms ease;
}
.col ul li button:hover{
    box-shadow: none;
}