body{
    overflow-y: hidden;
}
main{
    width: 86.4vw;
    position: relative;
    top: 2.5rem;
    overflow-y: auto;
}
.report-box {
    position: relative;
    top: 0.2rem;
    width: 100%;
    display: flex;
    gap: 1rem;  
}
.SecChart{
    position: absolute;
    top: 36rem;
    width: 100%;
    height: 40rem;
    display: flex;
}
.served-body{
    width: 68%;
    height: 35rem !important;
    background-color: var(--pad-background);
    padding: 10px;
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
}
.served-body h3{
    text-align: center;
    border-bottom: 1px solid var(--color-header);
    color: var(--color-primary);
    padding: 3px;
    width: 100%;
}
.year-selection{
    padding: 3px;
    background-color: var(--pad-background);
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
    margin-bottom: 0.9rem;
    width: 100%;
    text-align: center;
}
.year-selection select{
    font-weight: 500;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
canvas {
    width: 100% !important;
    height: 76% !important;
}
/*---------------------------------------*/
.cases{
    background-color: var(--pad-background);
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
    padding: 0.5%;
    height: 37rem !important;
}
.box-pad{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.cases h3{
    padding: 1%;
    background-color: #dddddd0f;
    text-align: center;
    color: var(--color-primary);
}
.table h4{
    font-size: 15px;
    line-height: 2; 
    background-color: var(--color-header);
    color: var(--font-color-white);
    font-weight: 500;
}
.optionyear{
    width: 100%;
}
.year1 select, .year2 select {
    position: relative;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    width: 100%;
    background: var(--color-header);
    color: var(--font-color-white);
}
.cases .table{
    width: 100%;
    height: 70%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cases .table ul{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.cases .table .month ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 3.3vh;
    width: 100%;
    background-color: #5e9c96;
    color: var(--font-color-white);
}
.cases .table ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: 3.3vh;
    width: 100%;
    border: 0.5px solid var(--color-header);
    border-radius: var(--box-borderRadius)
}
.total{
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
    background-color: rgba(5, 52, 36, 0.14);
}
/*---------------------------------------*/
.casesPerService{
    width: 30%;
    height: 35rem;
    background-color: var(--pad-background);
    padding: 6px;
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
}
.casesPerService h3{
    padding: 5px;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    text-align: center;
}
.filter-month{
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
}
.filter-month select{
    padding: 5px;
    font-family: 'Poppins';
    font-weight: 500;
    width: 100%;
    text-align: center;
    border-radius: var(--box-borderRadius);
    cursor: pointer;
}
.permonth-table{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: 75%;
    justify-content: center;
}
.permonth-table ul{
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.permonth-table ul h3{
    color: var(--font-color-white);
    background-color: var(--color-header);
    font-weight: 500;
    border-radius: var(--box-borderRadius);
    border: none;
}
.permonth-table ul li{
    text-align: center;
    padding: 18px 0;
    font-size: 14px;
    background: rgb(240 253 250);
    font-weight: 5600;
}
/*---------------------------------------*/
.download-btn{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
    height: 2rem;
    padding: 0 10px;
}
.download-btn select{
    cursor: pointer;
    padding: 5px 20px;
    box-shadow: var(--pad-box-shadow);
    border-radius: var(--box-borderRadius);
}
/*---------------------------------------*/
@media screen and (max-width: 1768px){
    .cases{
        width: 40%;
    }
    
}
@media screen and (max-width: 768px){
    .cases{
        width: 47%;
    }
}
@media screen and (min-height: 795.5px){
    .served-body{
        height: 80%; 
    }
    .cases{
        height: 80%;
    }
    .cases .table .month ul li{
        height: 2.8vh;
        
    }
    .cases .table ul li{
        height: 2.8vh;
    }
    
}
